.container {
  padding: 48px 16px;
  font-family: var(--font-montserrat), sans-serif;
  background-color: #fbfcf8;
  margin: 0 auto;
}

@media (min-width: 768px) {
    .container{
      padding: 48px 0;
      max-width: 704px;
    }
}

@media (min-width: 1440px) {
  .container{
      padding: 48px 0;
    }
}


.grid{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.gridItem{
    flex-basis: 339px;
    max-height: 483px;
    max-width: 361px;
}
.title{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 16px;
}

.count{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 16px;
}

.meta{
    display: flex;
    gap: 199px;
}

@media (min-width: 768px) {
    .title{
        font-size: 40px;
    }
    .meta{
        gap: 542px;
    }
    .grid{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .gridItem{
        flex-basis: calc((100% - 24px) / 2);
        max-width: 339px;
    }
}

@media (min-width: 1440px) {
    .meta{
        gap: 650px;
    }
    .gridItem{
        flex-basis: calc((100% - 3 * 24px) / 4);
        max-width: 288px;
    }
    .container{
        max-width: 1225px;
    }
}



