.container {
  padding: 48px 16px;
  font-family: var(--font-montserrat), sans-serif;
  background-color: #fbfcf8;;
}

@media (min-width: 768px) {
    .container{
      padding: 48px 32px;
    }
}

@media (min-width: 1440px) {
  .container{
      padding: 48px 108px;
    }
}


.grid{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.gridItem{
    flex-basis: 339px;
    height: 483px;
}
.title{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 16px;
}

.count{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 16px;
}

.meta{
    display: flex;
    gap: 199px;
}

@media (min-width: 768px) {
    .title{
        font-size: 40px;
    }
    .meta{
        gap: 542px;
    }
    .grid{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .gridItem{
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media (min-width: 1440px) {
    .meta{
        gap: 650px;
    }
    .gridItem{
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
}



